<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2-beta1" targetFramework="net45" />
  <package id="FirebirdSql.Data.FirebirdClient" version="4.5.1.0" targetFramework="net45" />
  <package id="FSharp.Core" version="4.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net45" />
  <package id="Npgsql" version="2.2.1" targetFramework="net45" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net45" />
</packages>