<?xml version="1.0" encoding="utf-8"?>

<providers
  xmlns="http://ibatis.apache.org/providers"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
	This file contain definition of SqlServer for iBatisNet
	Default is sqlServer2.0
	-->
  <clear />
  <provider
    name="SqlServer"
    description="SqlServer"
    enabled="true"
    default="true"
    assemblyName="System.Data.SqlClient"
    connectionClass="System.Data.SqlClient.SqlConnection"
    commandClass="System.Data.SqlClient.SqlCommand"
    parameterClass="System.Data.SqlClient.SqlParameter"
    parameterDbTypeClass="System.Data.SqlDbType"
    parameterDbTypeProperty="SqlDbType"
    dataAdapterClass="System.Data.SqlClient.SqlDataAdapter"
    commandBuilderClass="System.Data.SqlClient.SqlCommandBuilder"
    usePositionalParameters="false"
    useParameterPrefixInSql="true"
    useParameterPrefixInParameter="true"
    parameterPrefix="@" />

</providers>