<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>
  
  <providers resource="./IBatis/providers.config"/>
  
	<!-- Database connection information -->
	<database>
		<provider name="SqlServer"/>
		<dataSource name="Main" connectionString="Data Source=.;Initial Catalog=tempdb;Integrated Security=True"/>
	</database>

	<sqlMaps>
			<sqlMap resource="./IBatis/Maps/Post.xml" />
	</sqlMaps>

</sqlMapConfig>
