<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0"
					 invariant="System.Data.SqlServerCe.4.0"
					 description=".NET Framework Data Provider for Microsoft SQL Server Compact"
					 type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=|DataDirectory|\Test.sdf"
		 providerName="System.Data.SqlServerCe.4.0" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
